/* Define colors for light mode */
:root {
  --surface-1-light: #FFF7F2; /* Soft beige */
  --surface-2-light: #F5F2F2; /* Light warm gray */
  --text-1-light: #4f4a47; /* Dark taupe */
  --text-2-light: #7C7C7C; /* Lighter gray for less important text */
  --border-light: #E0E0E0; /* Soft border color */
  --accent-light: #E6B7A7; /* Soft peachy pink */
  --highlight-light: #D29E91; /* Slightly darker peach */
  --neutral-light: #B3B3B3; /* Neutral gray */

  --surface-1-dark: #171717;
  --surface-2-dark: #404040;
  --text-1-dark: #fafafa;
  --text-2-dark: #a3a3a3;
  --border-dark: #606060;
  --accent-dark: #F4D8C1; /* Light peach accent */
  --highlight-dark: #D1A6A1; /* Light dusty rose for dark mode */
  --neutral-dark: #A9A9A9; /* Neutral dark */
  
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
  --border: var(--border-light);
  --accent: var(--accent-light);
  --highlight: var(--highlight-light);
  --neutral: var(--neutral-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);
    --border: var(--border-dark);
    --accent: var(--accent-dark);
    --highlight: var(--highlight-dark);
    --neutral: var(--neutral-dark);
  }
}
