{{ with .Site.Menus.main }}
  <menu class="hidden" id="menu">
    {{ range . }}
      <li itemscope itemtype="http://www.schema.org/SiteNavigationElement">
        <a aria-current="{{ or (page.IsMenuCurrent .Menu .) (page.HasMenuCurrent .Menu .) }}" href="{{ .URL }}" itemprop="url">
          <span itemprop="name">
            {{ if eq .Page.Params.lang "pt" }}
              {{ if eq .Identifier "buy" }}Comprar Obras{{ else }}{{ .Name }}{{ end }}  <!-- Portuguese version -->
            {{ else }}
              {{ if eq .Identifier "buy" }}Order Paintings{{ else }}{{ .Name }}{{ end }}  <!-- English version -->
            {{ end }}
          </span>
        </a>
      </li>
    {{ end }}
  </menu>
{{ end }}
